## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ACPI daemon socket

[Socket]
Backlog=2
#MaxConnections=2
ListenStream=%t/%p.socket
Accept=false

[Install]
WantedBy=workstation.target
