## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=APM state

[Service]
Type=oneshot
ExecStart=%p -e enable
ExecStopPost=%p -e disable
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
