## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=AppleTalk daemon

[Service]
ExecStart=%p

[Install]
WantedBy=server.target
