## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Deferred execution scheduler

[Service]
ExecStart=%p -f

[Install]
WantedBy=workstation.target
