## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Daily atop restart

[Timer]
OnCalendar=daily

[Install]
WantedBy=timers.target
