## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=audit trail distribution daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p -l

[Install]
WantedBy=multi-user.target
