## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD audit daemon

[Service]
systemdWorkingDirectory=false
# The import procedure is expected to have populated this directory with flags.
EnvironmentDirectory=env
# The daemon should properly clean itself up at SIGTERM; if it does not, that is a bug.
ExecStart=%p -d ${flags}
Restart=always

[Install]
WantedBy=workstation.target
