## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=audit trail distribution daemon

[Service]
ExecStart=%p -F

[Install]
WantedBy=multi-user.target
