## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bonjour service

[Service]
Type=dbus
RuntimeDirectory=%p
RuntimeDirectoryMode=02755
#RuntimeDirectoryOwner=avahi
ExecStartPre=chown avahi /run/%p
ExecStart=%p
Restart=always

[Install]
