## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Guenter's bcron scheduling daemon

[Service]
EnvironmentDirectory=env
ExecStart=bcron

[Install]
WantedBy=server.target
