## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Guenter's bcron submission socket

[Socket]
Backlog=2
ListenStream=/run/%p
Accept=true
MaxConnections=16
UCSPIRules=true

[Install]
WantedBy=server.target
