## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Guenter's bcron update daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p /etc/crontab /etc/cron.d
RestartSec=60

[Install]
WantedBy=server.target

