## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=boot parameters daemon

[Service]
systemdWorkingDirectory=false
ExecStart=bootparamd
Restart=always

[Install]
WantedBy=server.target
