## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=bsdstats service

[Service]
systemdWorkingDirectory=false
ExecStart=/usr/local/etc/periodic/monthly/300.statistics -nodelay
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
