## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BusyBox mdev plug-and-play manager daemon
DefaultDependencies=false
Before=shutdown.target
After=local-fs.target

[Service]
systemdWorkingDirectory=false
#ExecStart=uevent-spawner busybox mdev
ExecStart=uevent-spawner env
Restart=on-abort

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
