## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BusyBox mdev plug-and-play manager one-shot initialization
DefaultDependencies=false
Before=shutdown.target
After=local-fs.target busybox-mdev.service

[Service]
Type=oneshot
ExecStart=busybox mdev -s
Restart=never
# This is an outrageous bodge.
ExecStartPre=sleep 5
Restart=never

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
