## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Linux Desktop Bus API control group manager

[Service]
ExecStart=%p --verbose
Restart=yes

[Install]
WantedBy=workstation.target
