## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Chrony NTP daemon
Conflicts=ntpd.service systemd-timesyncd.service openntpd.service VBoxService.service
Before=time-sync.target
Wants=time-sync.target

[Service]
ExecStart=%pd -d

[Install]
WantedBy=workstation.target
