## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Clean-up UUCP spool directories service

[Service]
Type=oneshot
WorkingDirectory=/var/spool/
ExecStart=sh -c 'rm -r uucp/.Temp/* ; rm -r lock/*'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
