## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=AppleTalk CNID daemon spawning daemon
After=atalkd.service

[Service]
ExecStart=%p -d

[Install]
WantedBy=server.target
