## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ColourManager daemon
After=dbus.service
After=local-syslog.target
# Don't want D-Bus in case the D-Bus daemon is not managed by service-manager.
#Wants=dbus.service

[Service]
ExecStart=/usr/lib/x86_64-linux-gnu/%p/%p
Restart=always

[Install]
WantedBy=workstation.target
