
## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Virtual console realizer for %I
After=console-multiplexor@%i.service
Wants=console-multiplexor@%i.service frame-buffer.target

[Service]
systemdWorkingDirectory=false
systemdUserEnvironment=no
PermissionsStartOnly=yes
EnvironmentDirectory=env/
SessionLeader=yes
ExecStartPre=chown daemon:tty ${TTY}
ExecStartPre=setfacl -m u:daemon:r event
ExecStartPre=setfacl -m u:daemon:rw fb
ExecStart=open-controlling-tty setuidgid daemon %p ${FONTS} ${KERNEL_VT} --bold-as-colour fb event kbdmap /run/dev/%I/
Restart=always

[Install]
WantedBy=multi-user.target
