## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ConsoleKit daemon

[Service]
ExecStart=%p --no-daemon
Restart=always

[Install]
WantedBy=workstation.target
