## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p audio streaming daemon
Description=See http://%p.org/

[Service]
EnvironmentDirectory=env
ExecStart=%p

[Install]
WantedBy=server.target
