## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=DBmail POP3 daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p -n

[Install]
WantedBy=server.target
