## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=System-wide "Desktop" bus umbrella service
DefaultDependencies=no

[Service]
EnvironmentDirectory=env
ExecStart=true
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=workstation.target
