## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=System-wide "Desktop" bus socket

[Socket]
ListenStream=/run/dbus/system_bus_socket

[Install]
WantedBy=workstation.target
