## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=System-wide "Desktop" bus service
After=machine-id.service

[Service]
systemdWorkingDirectory=false
ExecStartPre=mkdir -p /run/dbus
ExecStartPre=mkdir -p /var/db/dbus
ExecStartPre=sh -c '[ -r /var/db/dbus/machine-id ] || ln -s /etc/machine-id /var/db/dbus/'
ExecStartPre=rm -f /run/dbus/dbus.pid
# BSD dbus doesn't support --nopidfile, even thought that would be nice here.
ExecStart=dbus-daemon --system --nofork
Restart=always

[Install]
WantedBy=workstation.target
