## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD kernel debugger configuration
Requires=dumpauto.target

[Service]
Type=oneshot
EnvironmentDirectory=env
systemdWorkingDirectory=false
ExecStart=test -r ${config} && test -n "`sysctl -Nq debug.ddb.scripting.scripts`" && %p ${config}
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
