## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dynamic DNS update client

[Service]
# FIXME: Is this really needed?
systemdUserEnvironment=true
User=%p
ExecStart=%p --foreground
Restart=always

[Install]
WantedBy=workstation.target
