## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Regular background program processing daemon heavily modified from Vixie's by many Debian people

[Service]
ExecStart=cron -f

[Install]
WantedBy=workstation.target
