## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=A no-operation service for Debian
Description=This is a way of masking out stuff that Debian package maintainer scripts try to enable/disable; but that is wholly inappropriate.

[Service]
# This intentionally runs pause.
# If something has actually ended up running such a service, you want to know about it.
ExecStart=pause
Restart=no

[Install]
# Enabling or disabling this service, via an alias name, should never do anything.
