## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=devd daemon
DefaultDependencies=false
Before=shutdown.target remote-fs-pre.target
After=local-fs.target

[Service]
EnvironmentDirectory=env
ExecStartPre=sysctl hw.bus.devctl_disable=0
ExecStart=%p -d
ExecStopPost=sysctl hw.bus.devctl_disable=1

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
