## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=devd daemon
DefaultDependencies=false
Before=shutdown.target
After=local-fs.target

[Service]
systemdWorkingDirectory=false
ExecStartPre=sysctl hw.bus.devctl_disable=0
ExecStart=%p -d
ExecStopPost=sysctl hw.bus.devctl_disable=1
Restart=always

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
