## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p service for device %i

[Service]
ExecStart=%p -d %i

[Install]
WantedBy=workstation.target
