## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dump kernel boot log (obsoleted by klogd-read).
DefaultDependencies=false
Before=shutdown.target

[Service]
Type=oneshot
Umask=0022
StandardOutput=file:/run/dmesg.boot
ExecStart=%p
# This only has appropriate behaviour at bootstrap, not later.
RemainAfterExit=yes
Restart=never

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
