## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dump kernel boot log (obsoleted by klogd-read).
DefaultDependencies=false

[Service]
Umask=0022
ExecStart=fdredir --write 1 /run/dmesg.boot %p
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
