## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dump kernel boot log
DefaultDependencies=false

[Service]
Umask=0022
systemdWorkingDirectory=false
ExecStart=fdredir --write 1 /run/dmesg.boot %p
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
