## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Linux FakeRAID array assembly
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=%p --ignorelocking --activate y

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
