## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Emergency super-user login on %I
Conflicts=ttylogin@%i.service getty@%i.service autovt@%i.service mgetty@%i.service agetty@%i.service
DefaultDependencies=false

[Service]
SessionLeader=true
StandardInput=tty
ExecStart=%p
Restart=always
RestartSec=0
TTYPath=%I
TTYReset=yes
BannerLine=Emergency mode log-in.
# Some job control shells ignore SIGTERM and need an explicit SIGHUP.
SendSIGHUP=on

[Install]
# This never shuts down.
WantedBy=emergency.target
