## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Erlang Port Mapper service

[Service]
# TODO: Newer versions of erlang packaging apparently provide a separate epmd user.
User=rabbitmq
# TODO: Newer versions of erlang can accept an already-opened listening socket with the unfortunately named -systemd option.
ExecStart=%p

[Install]
WantedBy=workstation.target
