## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Erlang Port Mapper socket

[Socket]
Backlog=2
#MaxConnections=2
ListenStream=4369
BindIPV6Only=both
Accept=false

[Install]
WantedBy=workstation.target
