## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Finish off a FreeBSD upgrade after the reboot into the system.
DefaultDependencies=false
Wants=local-fs.target
After=local-fs.target
Before=reboot-after-update.target

[Service]
Type=oneshot
ExecStart=rm /var/.freebsd-update-finish
# This only has meaningful behaviour at bootstrap, not later.
RemainAfterExit=yes
Restart=never

[Install]
StoppedBy=shutdown.target
WantedBy=finish-update.target
