## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Update ClamAV database daemon

[Service]
ExecStart=%p --foreground --stdout
RestartSec=7200

[Install]
WantedBy=workstation.target
