## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Filesystem check the %I volume
DefaultDependencies=false
# Use the non-suffixed form to ensure that we get a relative symbolic link.
Before=mount@%i
After=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=%p -C -p %I
systemdWorkingDirectory=false
RemainAfterExit=yes

[Install]
# Use the non-suffixed form to ensure that we get a relative symbolic link.
WantedBy=mount@%i
