## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

# This has been superseded by direct conversion of /etc/fstab to service bundles.

[Unit]
Description=Filesystem check the %I volume
DefaultDependencies=false
# Use the non-suffixed form to ensure that we get a relative symbolic link.
Before=mount@%i
After=local-fs-pre.target swapauto.target

[Service]
Type=oneshot
ExecStart=%p -C -p %I
# This is a one-shot service that can be re-triggered by starting it again.
##RemainAfterExit=1
Restart=no

[Install]
StoppedBy=shutdown.target
# Use the non-suffixed form to ensure that we get a relative symbolic link.
WantedBy=mount@%i
