## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

## NOTE: Bernstein's publicfile supports FTP over both IPv4 without patches.

[Unit]
Description=FTP service over IP4 using Bernstein's publicfile

[Service]
User=publicfile
EnvironmentUserOnly=true
LimitNOFILE=20
LimitData=500000
ExecStart=line-banner --NVT "220 Features: a p ." sh -c 'exec ftpd ~publicfile/public'

[Install]
WantedBy=server.target
