## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Generic FTP socket for IP6

[Socket]
Backlog=2
MaxConnections=2
NoDelay=false
ListenStream=[::]:ftp
UCSPIRules=true
Accept=true

[Install]
WantedBy=server.target
