## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Generate KDE display manager configuration

[Service]
Type=oneshot
EnvironmentDirectory=env
ExecStart=sh -c 'if test -r "/usr/local/share/config/kdm/kdmrc" ; then %p --in "/usr/local/share/config/kdm/kdmrc" ; else %p --no-old --in "/usr/local/share/config/kdm/kdmrc" ; fi'
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
