## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=per-connection git service

[Service]
EnvironmentDirectory=env
User=git-daemon
ExecStart=/usr/local/libexec/git-core/%p --inetd --base-path "${directory:-/usr/local/git}"

[Install]
WantedBy=server.target
