## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=systemd-compatible %p service for non-systemd operating systems

[Service]
Type=dbus
ExecStart=%p

[Install]
WantedBy=workstation.target
