## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Set the dynamic hostname
DefaultDependencies=false
Before=multi-user-pre.target
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
EnvironmentDirectory=env
ExecStart=set-dynamic-hostname
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
