## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=System 5 init compatibility daemon

[Service]
ExecStart=initctl-read
Restart=always

[Install]
WantedBy=workstation.target
