## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=System 5 init compatibility socket

[Socket]
Backlog=2
ListenFIFO=/run/initctl
SocketMode=0600

[Install]
WantedBy=server.target
