## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Log packets filtered by ipfilter or ipnat

[Service]
Type=simple
systemdWorkingDirectory=false
EnvironmentDirectory=env
ExecStart=%p ${flags}

[Install]
WantedBy=workstation.target
