## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=iSCSI initiator daemon
Wants=kmod@iscsi
After=kmod@iscsi

[Service]
# iscsid needs a proper option for telling it not to fork.  Until it has, this will have to do.
ExecStart=%p -d

[Install]
WantedBy=server.target
