## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Kerberos admin daemon
Wants=kerberos.service

[Service]
EnvironmentDirectory=env
ExecStart=%p
StandardInput=socket

[Install]
WantedBy=workstation.target
