## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Set up kernel virtual terminal screen-saving
# This writes out terminal control sequences, which should be written after the reset control sequences written by the loadkeys service.
After=kernel-vt-loadkeys.service

[Service]
Type=oneshot
TTYPath=tty0
StandardInput=tty
StandardError=log
EnvironmentDirectory=env
ExecStart=setterm ${vesapowersave:+-powersave "${vesapowersave}"} ${blanktime:+-blank "${blanktime}"} ${vesapowerdown:+-powerdown "${vesapowerdown}"} ${flags}
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
