## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Set up kernel virtual terminal keyboard map
DefaultDependencies=false
EarlySupervise=true
## The point of this service is to set up the kernel VTs really early, so that one can interact with fsck.
Before=local-fs-pre.target

[Service]
systemdWorkingDirectory=false
EnvironmentFile=-/etc/vconsole.conf
ExecStart=loadkeys --console /dev/tty0 --unicode ${KEYMAP} ${KEYMAP_TOGGLE}
RemainAfterExit=yes
Restart=never

[Install]
WantedBy=sysinit.target
