## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=KF socket

[Socket]
Backlog=2
MaxConnections=2
NoDelay=false
BindIPv6Only=both
ListenStream=kf
UCSPIRules=true
Accept=true

[Install]
WantedBy=server.target
