## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=KF service

[Service]
EnvironmentDirectory=env
ExecStart=%p

[Install]
WantedBy=server.target
