## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Collector for kernel log messages

[Service]
User=klogd
ExecStart=klog-read
Restart=always

[Install]
WantedBy=workstation.target
