## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=kernel module loader for vboxdrv

[Service]
systemdWorkingDirectory=false
ExecStart=system-control load-kernel-module vboxdrv
ExecStopPost=system-control unload-kernel-module vboxdrv
RemainAfterExit=yes

[Install]
WantedBy=virtualbox-host.target
