## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Kerberos v5 password daemon

[Service]
EnvironmentDirectory=env
ExecStart=/usr/libexec/%p

[Install]
WantedBy=server.target
