## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=LIRC socket

[Socket]
Backlog=2
#MaxConnections=2
ListenStream=%t/lirc/%p

[Install]
WantedBy=workstation.target
