[Unit]
Description=LIRC Infrared Signal Decoder
Wants=lircd-setup.service
After=network.target lircd-setup.service

[Service]
Type=simple
RuntimeDirectory=lirc
EnvironmentDirectory=env
ExecStart=lircd --nodaemon ${device:+-d "${device}"} ${config}
; User=lirc
; Group=lirc

[Install]
