## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=LIRC Infrared Signal Decoder

[Service]
User=lirc
RuntimeDirectory=lirc
EnvironmentDirectory=env
ExecStart=%p --nodaemon ${device:+-d "${device}"} ${config}
StandardInput=socket

[Install]
