## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=hardware sensor chip initialization

[Service]
Type=oneshot
ExecStart=sensors -s
ExecStart=sensors
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
