## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=hardware sensor chip initialization

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=foreground sensors -s ; sensors

[Install]
WantedBy=workstation.target
