## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=line printer service

[Service]
ExecStartPre=chkprintcap
ExecStart=%p
Restart=always

[Install]
WantedBy=server.target
