## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Linux LVM activation
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=vgchange --sysinit --available y
# This only has meaningful behaviour at bootstrap, not later.
RemainAfterExit=yes
Restart=never

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
