## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Set up and tear down the machine ID
DefaultDependencies=false
After=local-fs.target

[Service]
Type=oneshot
EnvironmentDirectory=env
ExecStart=setup-machine-id
ExecStopPost=erase-machine-id
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
Restart=no

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
