## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=utx log file initialization
Before=utx.service
After=local-fs.target

[Service]
Type=oneshot
WorkingDirectory=/var/log
ExecStart=sh -c 'test -e utx.lastlogin || install -m 0644 /dev/null utx.lastlogin'
ExecStart=sh -c 'test -e utx.log || install -m 0644 /dev/null utx.log'
# This is a one-shot service that can be re-triggered by starting it again.
RemainAfterExit=1
Restart=no

[Install]
WantedBy=multi-user.target
