## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=mDNS Responder daemon

[Service]
EnvironmentDirectory=env
ExecStart=mDNSResponderPosix ${flags}

[Install]
WantedBy=workstation.target
