## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=modem serial-line terminal login on %I
After=motd-dynamic.service hostname.service

[Service]
ExecStart=%p %I
RestartSec=0
# Some job control shells ignore SIGTERM and need an explicit SIGHUP.
SendSIGHUP=on
# mgetty calls setsid itself, internally.

[Install]
WantedBy=multi-user.target
