## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=lightweight DLNA/UPnP-AV server 

[Service]
User=%p
RuntimeDirectory=%p
RuntimeDirectoryMode=0755
ExecStart=%pd -S ${configfile:+-f "${configfile}"} ${flags}

[Install]
WantedBy=server.target
