## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p service for mixer device %I

[Service]
ExecStartPre=sh -c '%p -f /dev/%I `cat /var/db/%I-state`'
ExecStopPost=fdredir --write 1 /var/db/%I-state %p -f /dev/%I -s 
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
