## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=MogileFS storage daemon

[Service]
User=%p
ExecStart=%p
Restart=no

[Install]
WantedBy=server.target
