## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=fsck combined progress information displayed on /dev/console
DefaultDependencies=off
Before=local-fs-pre.target

[Service]
StandardInput=tty
StandardOutput=inherit
User=daemon
ExecStart=monitor-fsck-progress
TTYPath=console

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
