## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NFS mount daemon
Wants=nfsd.service rpcbind.service
After=rpcbind.service

[Service]
systemdWorkingDirectory=false
ExecStart=mountd
Restart=always

[Install]
WantedBy=server.target
