## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Mount the %I filesystem
DefaultDependencies=false
Before=local-fs.target
After=local-fs-pre.target

[Service]
# Marking this as oneshot means that it doesn't enter the "running" state until the mount command has exited.
Type=oneshot
ExecStartPre=%p %I
ExecStart=true
ExecStopPost=u%p %I
RemainAfterExit=yes

[Install]
StoppedBy=shutdown.target
WantedBy=local-fs.target
