## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD mouse daemon

[Service]
systemdWorkingDirectory=false
ExecStart=%p -f -p /dev/psm0 -t auto
Restart=always

[Install]
WantedBy=workstation.target
