## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD mouse daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p -f ${port:+-p "${port}"} ${type:+-t "${type}"} ${level:+-l "${level}"} ${flags}

[Install]
WantedBy=workstation.target
