## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Make a bounds file for msgs(1) if there isn't one already

[Service]
Type=oneshot
ExecStart=sh -c '[ -d /var/msgs ] && [ ! -f /var/msgs/bounds ] && [ ! -L /var/msgs/bounds ] && echo 0 > /var/msgs/bounds'
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
