## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Runtime directory for (static) networking

[Service]
RuntimeDirectory=network
RuntimeDirectoryMode=0755
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
Restart=no

[Install]
