## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NetworkManager daemon
After=local-syslog.target network-runtime.service
Wants=network-runtime.service

[Service]
Type=dbus
# Since we want network-runtime, this is no longer necessary.
#ExecStartPre=mkdir -m 0755 /run/network
ExecStart=%p --no-daemon

[Install]
WantedBy=workstation.target
