## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=newsyslog sysinit service
Before=rsyslog.service syslog.service syslog.target

[Service]
systemdWorkingDirectory=false
ExecStart=%p
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
