## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Delete the just-used nextboot information
DefaultDependencies=false
EarlySupervise=true
Wants=local-fs.target
After=local-fs.target

[Service]
systemdWorkingDirectory=false
ExecStart=nextboot -D
RemainAfterExit=true
Restart=never

[Install]
WantedBy=sysinit.target
