## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NFS client daemon
Wants=kmod@nfscl

[Service]
EnvironmentDirectory=env
ExecStart=rpc.umntall -k
ExecStopPost=rpc.umntall -k

[Install]
WantedBy=workstation.target
