## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=nginx HTTP content server

[Service]
# Per Debian bug #728015, design and implementation errors prevent "daemon off" from working.
# It's erroneously conflated with a "no signals" mode.
Type=forking
ExecStart=%p -g "error_log stderr error;"
PrivateTmp=true

[Install]
WantedBy=server.target
