## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NIS domain name

[Service]
Type=oneshot
# The import procedure is expected to have populated this directory with name.
EnvironmentDirectory=env
# The name for this command that is common to both Linux and the BSDs is "domainname".
ExecStart=domainname "${name}"
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
