## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=SAMBA naming services daemon

[Service]
RuntimeDirectory=samba
RuntimeDirectoryMode=0755
ExecStartPre=sh -c 'l="`testparm -s -v --parameter-name \"lock directory\" \"${conf:-/usr/local/etc/smb4.conf}\"`" ; if test -n "$l" && test -d "$l" ; then for f in brlock.tdb browse.dat connections.tdb gencache.tdb locking.tdb messages.tdb namelist.debug sessionid.tdb unexpected.tdb ; do rm -f -- "$l"/"$f" ; done ; fi'
ExecStart=%p -F -s "${conf:-/usr/local/etc/smb4.conf}"

[Install]
WantedBy=server.target
