## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=nsswitch caching service

[Service]
# The import procedure is expected to have populated this directory with flags.
EnvironmentDirectory=env

[Install]
WantedBy=workstation.target
