## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD NTP daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p -n -g -f /var/db/%p.drift
Restart=always

[Install]
WantedBy=workstation.target
