## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenPower Abstraction Layer processor recovery diagnostics daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p --stdio ${device:+--pnor "${device}"}
StandardInput=socket

[Install]
WantedBy=server.target
