## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenBSD NTP daemon

[Service]
Type=forking
EnvironmentDirectory=env
ExecStart=ntpd -d ${config:+-f "${config}"} ${flags}
RestartSec=60

[Install]
WantedBy=workstation.target
