## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p %i server

[Service]
systemdWorkingDirectory=false
ExecStartPre=/var/ossec/bin/%p-%i -t
ExecStart=/var/ossec/bin/%p-%i -f

[Install]
WantedBy=server.target
