## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p daemon
After=polkitd.service
Wants=polkitd.service

[Service]
Type=dbus
ExecStart=/usr/lib/%p/%pd

[Install]
WantedBy=workstation.target
