## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD PBI daemon

[Service]
systemdWorkingDirectory=false
ExecStart=%p
Restart=always

[Install]
WantedBy=workstation.target
