## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD PBI daemon

[Service]
ExecStart=%p

[Install]
WantedBy=workstation.target
