## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=PC-BSD display manager
After=ttylogin@ttyv8 ttylogin@tty9

[Service]
ExecStart=PDCMd

[Install]
WantedBy=workstation.target
