## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=PC-BSD/TrueOS display manager
After=ttylogin@ttyv8 ttylogin@tty9 hald

[Service]
ExecStart=PCDMd

[Install]
WantedBy=workstation.target
