## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Polipo proxy server

[Service]
ExecStart=%p
Restart=always

[Install]
WantedBy=workstation.target
