## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Apple laptop hot-key daemon

[Service]
Type=dbus
ExecStart=%p -d
Restart=always

[Install]
WantedBy=workstation.target
