## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD password file lock check
DefaultDependencies=false
EarlySupervise=true

[Service]
systemdWorkingDirectory=false
ExecStart=sh -c '[ -f /etc/ptmp ] && echo "ERROR: password file may be incorrect -- /etc/ptmp exists"'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
