## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Rabbit-MQ AMQP broker service
After=epmd.service
Requires=epmd.service

[Service]
WorkingDirectory=/var/lib/rabbitmq
# FIXME: Is this really needed?
systemdUserEnvironment=yes
User=rabbitmq
ExecStart=/usr/lib/rabbitmq/bin/%p
Restart=always

[Install]
WantedBy=server.target
