## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Rabbit-MQ AMQP broker service
After=epmd.service
Wants=epmd.service

[Service]
WorkingDirectory=%S/rabbitmq
# FIXME: Is this really needed?
systemdUserEnvironment=yes
User=rabbitmq
# The dunderheaded design of RabbitMQ-server means that we must pretend that it is interactive just to get it not to attempt its own Poor Man's Daemon Supervisor in shell script.
Environment=RABBITMQ_ALLOW_INPUT=false
ExecStart=/usr/lib/rabbitmq/bin/%p

[Install]
WantedBy=server.target
