## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=rsyslog

[Service]
systemdWorkingDirectory=false
# Don't use %p; this unit is accessed via a symbolic link.
ExecStart=rsyslogd -c5 -n -d

[Install]
WantedBy=workstation.target
