## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=remote who service

[Service]
EnvironmentDirectory=env
ExecStart=%p
Restart=always

[Install]
WantedBy=workstation.target
