## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=s6 fd holder socket

[Socket]
ListenStream=%t/%p
SocketMode=0666

[Install]
WantedBy=workstation.target
