## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Saltstack syndic

[Service]
LimitNOFILE=8192
ExecStart=%p
Restart=always

[Install]
WantedBy=workstation.target
