## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Saltstack master

[Service]
LimitNOFILE=8192
ExecStart=%p

[Install]
WantedBy=workstation.target
