## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Save any core dumps found in any dump volumes

[Service]
Type=oneshot
systemdWorkingDirectory=false
EnvironmentDirectory=env
ExecStart=%p ${flags} ${dumpdir:-/var/crash}
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
