## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=security level raiser
After=adjkerntz.service ifpw.service ipfilter.service pf.service sysctl.service

[Service]
EnvironmentFile=-/etc/rc.conf
EnvironmentFile=-/etc/rc.conf.local
ExecStart=sh -c 'test ${kern_securelevel} -ge 0 && sysctl kern.securelevel=${kern_securelevel}'
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
