## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=SickBeard daemon

[Service]
# FIXME: Is this really needed?
systemdUserEnvironment=true
EnvironmentDirectory=env
User=sickbeard
WorkingDirectory=/opt/sickbeard
ExecStart=python SickBeard.py --nolaunch ${SB_OPTS}

[Install]
WantedBy=workstation.target
