## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=SMART monitoring daemon

[Service]
ExecStart=%p -n

[Install]
WantedBy=workstation.target
