## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenSSH listening daemon
Requires=sshdgenkeys.service
After=sshdgenkeys.service
Conflicts=sshd.socket

[Service]
systemdWorkingDirectory=false
ExecStart=%p -D -e

[Install]
WantedBy=server.target
