## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=SSH key generation

[Service]
ExecStart=sh -c 'for t in rsa dsa ecdsa; do [ -f /etc/ssh/ssh_host_${t}_key ] || ssh-keygen -t ${t} -N "" -f /etc/ssh/ssh_host_${t}_key ; done'
RemainAfterExit=yes

[Install]
WantedBy=server.target
