## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dimitris Papastamos' smdev plug-and-play manager daemon
DefaultDependencies=false
Before=shutdown.target
After=local-fs.target
Conflicts=udev vdev busybox-mdev

[Service]
ExecStart=clearenv --keep-path plug-and-play-event-handler --verbose smdev
Restart=on-abort

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
