## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=PC-BSD Swap Extender daemon

[Service]
ExecStart=swapexd

[Install]
WantedBy=workstation.target
