## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Synergy Client Daemon for user %i

[Service]
EnvironmentDirectory=env
ExecStart=%p --no-daemon --debug ${DEBUGLEVEL:-INFO} ${SERVERALIAS}
User=%i

[Install]
WantedBy=workstation.target
