## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Vanilla BSD system log daemon

[Service]
EnvironmentDirectory=env
# https://reviews.freebsd.org/D4973
OOMScoreAdjust=fromenv
# Don't use %p; this unit is accessed via a symbolic link.
ExecStart=syslogd ${flags}
StandardInput=socket

[Install]
# This is enabled via the setting in the associated socket unit.
