## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Insert a dummy record in %p's current daily data file to indicate that the counters have restarted from 0.

[Service]
Type=oneshot
# This enables controlling service options with rcctl set and rcctl get .
EnvironmentDirectory=env
ExecStart=/usr/lib/%p/sadc -F -L ${OPTIONS} "${DIR:--}"
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
