## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=time daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p

[Install]
WantedBy=workstation.target
