## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bernstein's content DNS server daemon
After=network-interfaces.service

[Service]
EnvironmentUser=tinydns-d
EnvironmentDirectory=env
LimitDATA=300000
ExecStart=%p

[Install]
WantedBy=server.target
