## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Standard format %p logging service for %i
Before=%i.service

[Service]
WorkingDirectory=/var/log/sv/
User=%I-log
ExecStart=%p -t %i/

[Install]
WantedBy=workstation.target
