## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Multiple user FTP service using twoftpd
Conflicts=twoftpd-anon

[Service]
EnvironmentDirectory=env
LimitData=12000000
Environment=CHROOT=1
ExecStart=twoftpd-auth cvm-unix twoftpd-switch

[Install]
WantedBy=server.target
