## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=udev plug-and-play manager daemon
DefaultDependencies=false
Before=shutdown.target
After=local-fs.target

[Service]
systemdWorkingDirectory=false
ExecStart=%pd --debug
Restart=on-abort

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
