## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=UDisks daemon
After=local-syslog.target

[Service]
Type=dbus
ExecStart=/usr/lib/%p/%p-daemon
Restart=always

[Install]
# TODO: This might be better as graphical.
WantedBy=workstation.target
