## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD user/group access control
Wants=kmod@mac_bsdextended
After=kmod@mac_bsdextended

[Service]
Type=oneshot
EnvironmentDirectory=env
ExecStart=sh "${script:-/etc/rc.bsdextended}"
# This is a one-shot service that can be re-triggered by starting it again.
#RemainAfterExit=1
Restart=no

[Install]
WantedBy=workstation.target
