## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=utmpx boot/shutdown record generator
After=local-fs.target

[Service]
Type=oneshot
ExecStart=%p boot
ExecStopPost=%p shutdown
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
