## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=util-linux UUID server socket

[Socket]
ListenStream=%t/%p/request
Accept=no

[Install]
WantedBy=workstation.target
