## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=VirtualBox guest additions daemon

[Service]
ExecStart=VBoxService -f
RestartSec=5
Restart=on-abort

[Install]
WantedBy=virtualbox-guest.target
