## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=VirtualBox guest additions daemon
# This daemon uses Desktop Bus.
After=dbus

[Service]
ExecStart=VBoxService -f
RestartSec=5

[Install]
WantedBy=virtualbox-guest.target
