## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=vdev daemon's logger
DefaultDependencies=false
After=local-fs.target
Before=shutdown.target

[Service]
User=%p
WorkingDirectory=/var/log/sv
ExecStart=cyclog vdev/
RestartSec=1

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
