## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=nvi recovery

[Service]
Type=oneshot
EnvironmentDirectory=env
ExecStart=./helper
# This only has meaningful behaviour at bootstrap, not later.
RemainAfterExit=yes
Restart=never

[Install]
WantedBy=workstation.target
