## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD volume manager daemon

[Service]
ProcessGroupLeader=true
ExecStart=%p daemon
Restart=always

[Install]
WantedBy=workstation.target
