## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD kernel watchdog daemon

[Service]
EnvironmentDirectory=env
ExecStart=%p -d

[Install]
WantedBy=workstation.target
