## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=wicd service

[Service]
ExecStart=%p -f
Restart=always

[Install]
WantedBy=server.target
