## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ZFS within a jail
After=local-fs.target
Conflicts=zfs.service

[Service]
Type=oneshot
ExecStart=zfs mount -v -a
ExecStopPost=zfs unmount -a
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=workstation.target
