## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GnuPG network certificate management socket for %u

[Socket]
ListenStream=%t/gnupg/S.%p
SocketMode=0600

[Install]
