## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=EMACS Made A Client-Server for %u
Description=This requires emacs version 26 or later.

[Service]
#WorkingDirectory=~
RuntimeDirectory=%p
EnvironmentDirectory=env
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
# Until 2017-05-29 the option was --new-daemon, which was added on 2016-11-15.
ExecStart=%p --fg-daemon

[Install]
WantedBy=normal.target
