## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ibus daemon for %u

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=%p --xim
Restart=on-abort

[Install]
