## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Per-user socket servers' log service for %u

[Service]
WorkingDirectory=/var/log/user/
ExecStart=cyclog "%u/socket-servers/"

[Install]
