## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Portal service (GTK+/GNOME implementation) for %u

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=%l/%p
Restart=on-abort

[Install]
