Source: nosh
Section: admin
Priority: optional
Maintainer: Jonathan de Boyne Pollard <J.deBoynePollard-newsgroups@ntlworld.com>
Build-Depends: redo, libkqueue-dev, xmlto, pax

Package: nosh-guide
Architecture: amd64
Depends:
Suggests: 
Recommends: 
Description: User guide for the various nosh-* packages.

Package: nosh-exec
Architecture: amd64
Depends: ${shlibs:Depends}
Suggests: 
Recommends: 
Description: Minimal non-shell script processor and various chain-load utilities useful for services
 nosh is a minimal script processor for use in the #! lines of scripts.
 .
 Included here are various commands for altering process state:
  * appendpath, chdir, chroot, clearenv, envdir, envuidgid, fdmove, fdredir
  * prependpath, read-conf, setenv, setsid, setuidgid, setuidgid-fromenv,
  * softlimit, ulimit, umask, unsetenv
 .
 Also present are commands useful for daemon implementations:
  * false, line-banner, true, recordio, setlock,
  * fifo--listen,
  * local-datagram-socket-listen,
  * local-stream-socket-accept, local-stream-socket-listen,
  * udp-socket-listen,
  * tcp-socket-accept, tcp-socket-listen, 
  * tcp-socket-connect, tcp-socket-connect, 

Package: nosh-service-management
Architecture: amd64
Depends: ${shlibs:Depends}
Breaks: nosh-bundles (<= 1.27)
Suggests:
Recommends: kmod
Description: Service and system management utilities
 This package provides a complete daemon supervisor and system management toolset.
 .
 It includes a system-wide system manager, a per-user user manager, a service manager, along with various control and status utilities.
 .
 It supplies systemd unit files for setting up a daemontools-like daemon management system under systemd.
 Or one can instead run this its system manager as process #1.
 .
 It also provides compatibility commands for those familiar with daemontools and daemontools-encore.
  * svc, svok, svscan, svshow, svstat, svup
 The shims simply invoke native service management commands.

Package: nosh-terminal-management
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management (>=1.14)
Breaks: nosh-bundles (<= 1.20)
Suggests: 
Recommends: 
Description: Virtual terminal, pseudo-terminal, and TUI login tools
 This package provides tools for creating and using pseudo-terminals and virtual consoles.
 .
 Included here are tools for TUI login:
 * login-banner,login-process, login-prompt, open-controlling-tty, ttylogin-starter
 .
 Also present are commands for pseudo-terminals and virtual consoles:
  * console-terminal-emulator, console-ncurses-realizer, console-fb-realizer, pty-get-tty, pty-run, vc-get-tty, vc-reset-tty

Package: nosh-terminal-extras
Architecture: amd64
Depends: nosh-terminal-management
Suggests: 
Recommends: execline
Description: Extra terminal utilities
 This package provides extra tools for use with terminals, including:
  * getty, ptybandage, ptyrun

Package: nosh-systemv-shims
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management
Suggests: 
Recommends: 
Description: BSD and System 5 shim service and system management utilities
 This package provides shims for old-style BSD and System 5 system management commands.
  * service, chkconfig
  * init, shutdown, telinit, halt, poweroff, reboot, runlevel
  * emergency, normal, rescue
  * fasthalt, fastpoweroff, fastboot
 .
 The shims simply invoke native service management commands.
 .
 For rcctl, use the nosh-openbsd-shims package.

Package: nosh-systemd-shims
Architecture: amd64
Depends: nosh-service-management
Suggests: 
Recommends: 
Description: systemd shim service and system management utilities
 This package provides shims for systemd service and system management commands.
  * systemctl, systemd
 .
 The shims simply invoke native service management commands.

Package: nosh-upstart-shims
Architecture: amd64
Depends: nosh-service-management
Suggests: 
Recommends: 
Description: upstart shim service and system management utilities
 This package provides shims for upstart service and system management commands.
  * initctl, start, stop, enable, disable
 .
 The shims simply invoke native service management commands.

Package: nosh-debian-shims
Architecture: amd64
Depends: nosh-service-management
Suggests: 
Recommends: 
Conflicts: nosh-run-via-systemd, upstart, sysvinit-core, systemd-sysv
Description: Debian shim service and system management utilities
 This package provides shims for Debian service and system management commands.
  * invoke-rc.d, update-rc.d
 .
 The shims simply invoke native service management commands.

Package: nosh-openbsd-shims
Architecture: amd64
Depends: nosh-service-management
Suggests: 
Recommends: 
Conflicts: nosh-run-via-systemd, upstart, sysvinit-core, systemd-sysv
Description: OpenBSD shim service and system management utilities
 This package provides shims for OpenBSD service and system management commands.
  * rcctl
 .
 The shims simply invoke native service management commands.

Package: nosh-ucspi-tcp-shims
Architecture: amd64
Depends: nosh-exec
Suggests: 
Recommends: 
Conflicts: ucspi-tcp
Description: Bernstein UCSPI-TCP shim service utilities
 This package provides shims for UCSPI-TCP service commands.
  * tcpserver
 .
 The shims simply invoke native service management commands.

Package: nosh-bundles
Architecture: amd64
Depends: nosh-exec (>=1.28), nosh-service-management (>=1.28), nosh-terminal-management (>= 1.22), adduser
Suggests: 
Recommends: 
Conflicts: nosh-standard-targets, nosh-sysinit-services, nosh-bsd-services, nosh-bsd-sockets, nosh-regular-sockets, nosh-regular-services
Description: Service bundles
 This package provides pre-packaged bundle directories for 
  * the standard targets (normal, workstation, server, multi-user, and so on);
  * the system initialization services; and
  * regular services.

Package: nosh-run-system-manager
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, redo
Suggests: 
Recommends: nosh-run-kernel-vt | nosh-run-user-vt, nosh-systemv-shims, nosh-openbsd-shims, nosh-run-local-syslog, nosh-run-klog, nosh-debian-shims
Conflicts: nosh-run-via-systemd, upstart, sysvinit-core, systemd-sysv
Provides: init, systemd-shim
Description: Run the various AppleTalk services
 This package runs the nosh system manager as process #1.
 . 
 It does this on FreeBSD/PC-BSD by modifying /boot/loader.conf .
 . 
 It does this on Linux by installing a symbolic link as /sbin/init .
 . 
 Notes: 
 * This does not install any System 5 compatibility shim commands (halt, reboot, poweroff, &c.).
   For those, install the (recommended) nosh-systemv-shims package.
 * This does not install any OpenBSD compatibility shim commands (rcctl &c.).
   For those, install the (recommended) nosh-openbsd-shims package.
 * This does not install any systemd compatibility shims (systemctl &c.).
   For those, install the nosh-systemd-shims package.

Package: nosh-run-kernel-vt
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-terminal-management, nosh-bundles
Suggests: 
Recommends: 
Description: Run old-style kernel virtual terminals
 This package runs old-style kernel virtual terminals, using the kernel virtual terminal device files and a service that auto-starts ttylogin services (on demand if possible).

Package: nosh-run-user-vt
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-terminal-management, nosh-bundles
Suggests: 
Recommends: 
Description: Run new-style application-mode virtual terminals
 This package runs new-style application-mode virtual terminals, rendered via the (first) framebuffer and the input event stream.

Package: nosh-run-via-systemd
Architecture: amd64
Depends: nosh-service-management (>=1.16), systemd, nosh-bundles
Suggests: 
Recommends: 
Replaces: nosh-systemd-services
Description: Run the nosh service manager and daemontools service scanner via systemd
 This package provides systemd service units for running the nosh service manager and daemontools service scanner under systemd, instead of running the nosh service manager.
 It presets systemd services that:
  * run the nosh service-manager server under systemd;
  * run the nosh service-dt-scanner (a.k.a. svscan) service under systemd; and
  * start the nosh normal.target and its dependencies.
 It disables the nosh sysinit.target, on the basis that systemd is doing that part of the work.

Package: nosh-run-virtualbox-guest
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Suggests: 
Recommends: 
Description: Run VirtualBox guest additions
 This package runs VirtualBox guest additions.

Package: nosh-run-freedesktop-system-bus
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Suggests: 
Recommends: dbus
Description: Run the system-wide message bus from freedesktop.org
 This package runs the system-wide message bus from freedesktop.org.

Package: nosh-run-freedesktop-kits
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, nosh-run-freedesktop-system-bus
Suggests: 
Recommends: network-manager, modemmanager, packagekit, policykit-1, consolekit
Description: Run the various "kit" programs from freedesktop.org
 This package runs the various "kit" programs from freedesktop.org:
  * NetworkManager
  * ModemManager
  * ColourManager
  * PolicyKit
  * PackageKit
  * ConsoleKit
  * UDisks
  * UPower

Package: nosh-run-openssh-server
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Suggests: 
Recommends: openssh-server
Description: Run the OpenSSH server
 This package runs the OpenSSH server.

Package: nosh-run-appletalk
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Suggests: 
Recommends: 
Description: Run the various AppleTalk services
 This package runs the various services for AppleTalk:
  * File server
  * Print server
  * Timelord
  * dbd

Package: nosh-run-udev
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, udev
Suggests: 
Recommends: 
Conflicts: nosh-run-busybox-mdev, nosh-run-suckless-mdev, nosh-run-vdev
Description: Run udev as the device manager.
 This package causes systemd udev to be run as the plug-and-play device manager.

Package: nosh-run-busybox-mdev
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, busybox
Suggests: 
Recommends: 
Conflicts: nosh-run-udev, nosh-run-suckless-mdev, nosh-run-vdev
Description: Run BusyBox mdev as the device manager.
 This package causes BusyBox mdev to be run as the plug-and-play device manager.

Package: nosh-run-suckless-mdev
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, smdev
Suggests: 
Recommends: 
Conflicts: nosh-run-udev, nosh-run-suckless-mdev, nosh-run-vdev
Description: Run SuckLess mdev as the device manager.
 This package causes SuckLess mdev to be run as the plug-and-play device manager.

Package: nosh-run-vdev
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles, vdev
Suggests: 
Recommends: 
Conflicts: nosh-run-busybox-mdev, nosh-run-suckless-mdev, nosh-run-udev
Description: Run vdev as the device manager.
 This package causes Devuan vdev to be run as the plug-and-play device manager.

Package: nosh-run-local-syslog
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Provides: system-log-daemon
Suggests: 
Recommends: 
Conflicts: systemd-sysv
Description: Run the local syslog service.
 This package causes the local-syslog-read service to run.

Package: nosh-run-klog
Architecture: amd64
Depends: nosh-exec, nosh-service-management (>=1.16), nosh-bundles
Provides: linux-kernel-log-daemon
Suggests: 
Recommends: 
Conflicts: systemd-sysv
Description: Run the klog service.
 This package causes the klogd service to run.

