Source: nosh
Section: admin
Priority: optional
Maintainer: Jonathan de Boyne Pollard <J.deBoynePollard-newsgroups@ntlworld.com>
Build-Depends: redo

Package: nosh-guide
Architecture: amd64
Depends: ${shlibs:Depends}
Suggests: 
Recommends: 
Description: User guide for the various nosh-* packages.

Package: nosh-exec
Architecture: amd64
Depends: ${shlibs:Depends}
Suggests: 
Recommends: 
Description: Minimal non-shell script processor and various chain-load utilities useful for services
 nosh is a minimal script processor for use in the #! lines of scripts.
 .
 Included here are various commands for altering process state:
 * appendpath, chdir, chroot, clearenv, envdir, envuidgid, fdmove, fdredir
 * prependpath, read-conf, setenv, setsid, setuidgid, setuidgid-fromenv,
 * softlimit, ulimit, umask, unsetenv
 .
 Also present are commands useful for daemon implementations:
 * false, line-banner, true, recordio, setlock,
 * local-datagram-socket-listen,
 * local-stream-socket-accept, local-stream-socket-listen,
 * udp-socket-listen,
 * tcp-socket-accept, tcp-socket-listen, 
 .
 Further commands are useful for TUI login and TTY/PTY management:
 * login-banner,login-process, login-prompt, open-controlling-tty,
 * pty-get-tty, pty-run, vc-get-tty, vc-reset-tty

Package: nosh-service-management
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-exec
Suggests: 
Recommends: 
Description: Service and system management utilities
 This package provides a complete daemon supervisor and system management toolset.
 .
 It includes a system-wide system manager, a per-user-login session manager, a service manager, along with various control and status utilities.
 .
 It supplies systemd unit files for setting up a daemontools-like daemon management system under systemd.
 Or one can instead run this its system manager as process #1.
 .
 It also provides compatibility commands for those familiar with daemontools and daemontools-encore.
 * svc, svok, svscan, svshow, svstat, svup
 The shims simply invoke native service management commands.

Package: nosh-systemv-shims
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management
Suggests: 
Recommends: 
Description: System V shim service and system management utilities
 This package provides shims for old-style System V system management commands.
 * service, chkconfig
 * init, telinit, halt, fasthalt, poweroff, fastpoweroff, reboot, fastboot
 * emergency, normal, rescue
 .
 The shims simply invoke native service management commands.

Package: nosh-systemd-shims
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management
Suggests: 
Recommends: 
Description: systemd shim service and system management utilities
 This package provides shims for systemd service and system management commands.
 * systemctl, systemd
 .
 The shims simply invoke native service management commands.

Package: nosh-upstart-shims
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management
Suggests: 
Recommends: 
Description: upstart shim service and system management utilities
 This package provides shims for upstart service and system management commands.
 * initctl, start, stop, enable, disable
 .
 The shims simply invoke native service management commands.

Package: nosh-systemd-services
Architecture: amd64
Depends: ${shlibs:Depends}, nosh-service-management, systemd
Suggests: 
Recommends: 
Description: systemd services for running the nosh service manager and daemontools service scanner
 This package provides systemd service units for running the nosh service manager and daemontools service scanner under systemd, instead of running the nosh service manager.

Package: nosh-standard-targets
Architecture: amd64
Depends: nosh-exec, nosh-service-management
Suggests: 
Recommends: 
Description: Standard targets for the system manager
 This package provides the pre-packaged bundle directories for the standard targets (normal, workstation, server, multi-user, and so on).

Package: nosh-sysinit-services
Architecture: amd64
Depends: nosh-exec, nosh-service-management
Suggests: 
Recommends: 
Description: System initialization services
 This package provides the pre-packaged bundle directories for system initialization services.

Package: nosh-regular-services
Architecture: amd64
Depends: nosh-exec, nosh-service-management
Suggests: 
Recommends: 
Description: Regular non-socket-activated services
 This package provides the pre-packaged bundle directories for regular non-socket-activated services.

Package: nosh-regular-sockets
Architecture: amd64
Depends: nosh-exec, nosh-service-management
Suggests: 
Recommends: 
Description: Regular socket-activated services
 This package provides the pre-packaged bundle directories for regular socket-activated services.
