#!/usr/bin/make -sf

.PHONY: build binary install clean stage control

ALL_PACKAGES=nosh-guide nosh-exec nosh-terminal-management nosh-service-management nosh-terminal-extras nosh-systemv-shims nosh-systemd-shims nosh-upstart-shims nosh-debian-shims nosh-openbsd-shims nosh-ucspi-tcp-shims nosh-bundles nosh-run-system-manager nosh-run-via-systemd nosh-run-kernel-vt nosh-run-user-vt nosh-run-virtualbox-guest nosh-run-freedesktop-system-bus nosh-run-freedesktop-kits nosh-run-openssh-server nosh-run-appletalk nosh-run-udev nosh-run-busybox-mdev nosh-run-suckless-mdev nosh-run-vdev nosh-run-local-syslog nosh-run-klog

# The Debian package builder targets this in order to make the package contents.
build:
	package/compile

# The Debian package builder targets this in order to clean the build areas.
clean:
	${RM} debian/files debian/substvars
	for i in ${ALL_PACKAGES} ; \
	do \
		${RM} -r debian/"$$i"/ || exit 1 ; \
	done
	${RM} -r debian/tmp/

# The Debian package builder targets this in order to make the .deb files.
binary: stage control
	for i in ${ALL_PACKAGES} ; \
	do \
		dpkg -b debian/"$$i" ../ || exit 1 ; \
	done

stage:
	echo Exporting to debian/tmp/
	package/export debian/tmp/ debian/tmp/ debian/tmp/
	echo Staging from debian/tmp/
	package/stage debian/tmp debian

control:
	${RM} debian/files
	echo Generating control files
	for i in ${ALL_PACKAGES} ; \
	do \
		install -d -m 0755 debian/"$$i"/DEBIAN || exit 1 ; \
		${RM} debian/substvars ; \
		case "$$i" in \
		nosh-exec|nosh-terminal-management) \
			dpkg-shlibdeps debian/"$$i"/usr/local/bin/* || exit 1 ; \
			;; \
		nosh-service-management) \
			dpkg-shlibdeps debian/"$$i"/usr/local/bin/* || exit 1 ; \
			dpkg-shlibdeps debian/"$$i"/usr/local/sbin/* || exit 1 ; \
			;; \
		nosh-systemv-shims) \
			dpkg-shlibdeps debian/"$$i"/usr/local/sbin/* || exit 1 ; \
			;; \
		esac ; \
		dpkg-gencontrol -p"$$i" -Pdebian/"$$i" || exit 1 ; \
		for j in preinst postinst prerm postrm ; \
		do \
			if [ -e debian/"$$i"."$$j" ] ; \
			then \
				cp -p debian/"$$i"."$$j" debian/"$$i"/DEBIAN/"$$j" || exit 1 ; \
			fi ; \
		done ; \
	done
