#!/usr/bin/make -sf

.PHONY: build build-arch build-indep binary binary-arch binary-indep install install-arch install-indep install-common clean

build: build-arch build-indep 

binary: binary-arch binary-indep 
	for i in exec service-management systemd-services systemv-shims systemd-shims upstart-shims guide standard-targets sysinit-services regular-services regular-sockets ; \
	do \
		dpkg -b debian/nosh-"$$i" ../ || exit 1 ; \
	done

install: install-arch install-indep 

build-arch:
	package/compile

build-indep:
	@true

binary-arch: build-arch install-arch
	for i in exec service-management systemv-shims systemd-shims upstart-shims ; \
	do \
		${RM} debian/substvars ; \
		dpkg-shlibdeps debian/nosh-"$$i"/usr/local/bin/* || exit 1 ; \
		if [ "$$i" != exec ] ; then dpkg-shlibdeps debian/nosh-"$$i"/usr/local/sbin/* || exit 1 ; fi ; \
		dpkg-gencontrol -pnosh-"$$i" -Pdebian/nosh-"$$i" || exit 1 ; \
	done

binary-indep: build-indep install-indep
	for i in guide systemd-services standard-targets sysinit-services regular-services regular-sockets ; \
	do \
		${RM} debian/substvars ; \
		dpkg-gencontrol -pnosh-"$$i" -Pdebian/nosh-"$$i" || exit 1 ; \
	done

install-common:
	install -d -m 0755 debian/tmp/DEBIAN
	package/export debian/tmp/
	for i in exec service-management systemd-services systemv-shims systemd-shims upstart-shims guide standard-targets sysinit-services regular-services regular-sockets ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/DEBIAN || exit 1 ; \
	done

install-arch: install-common
	for i in exec service-management systemv-shims systemd-shims upstart-shims ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/bin || exit 1 ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/bin/ debian/tmp/bin/"$$j" || exit 1 ; \
		done < debian/nosh-"$$i".commands1 ; \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/sbin || exit 1 ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/sbin/ debian/tmp/sbin/"$$j" || exit 1 ; \
		done < debian/nosh-"$$i".commands8 ; \
		while read c a ; \
		do \
			ln -f -s "$$c" debian/nosh-"$$i"/usr/local/bin/"$$a" || exit 1 ; \
		done < debian/nosh-"$$i".aliases1 ; \
		while read c a ; \
		do \
			ln -f -s "$$c" debian/nosh-"$$i"/usr/local/sbin/"$$a" || exit 1 ; \
		done < debian/nosh-"$$i".aliases8 ; \
	done

install-indep: install-common
	for i in exec service-management systemv-shims systemd-shims upstart-shims ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/man/man1 || exit 1 ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/man/man1/ debian/tmp/man/man1/"$$j".1 || exit 1 ; \
		done < debian/nosh-"$$i".commands1 ; \
		while read c a ; \
		do \
			ln -f -s "$$c".1 debian/nosh-"$$i"/usr/local/man/man1/"$$a".1 || exit 1 ; \
		done < debian/nosh-"$$i".aliases1 ; \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/man/man8 || exit 1 ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/man/man8/ debian/tmp/man/man8/"$$j".8 || exit 1 ; \
		done < debian/nosh-"$$i".commands8 ; \
		while read c a ; \
		do \
			ln -f -s "$$c".8 debian/nosh-"$$i"/usr/local/man/man8/"$$a".8 || exit 1 ; \
		done < debian/nosh-"$$i".aliases8 ; \
	done ; \
	for i in systemd-services ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/lib/systemd/system || exit 1 ; \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/lib/tmpfiles.d || exit 1 ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/lib/systemd/system/ debian/tmp/lib/systemd/system/"$$j" || exit 1 ; \
		done < debian/nosh-"$$i".systemd ; \
		while read j ; \
		do \
			ln -f -t debian/nosh-"$$i"/usr/local/lib/tmpfiles.d/ debian/tmp/lib/tmpfiles.d/"$$j" || exit 1 ; \
		done < debian/nosh-"$$i".tmpfilesd ; \
	done
	for i in sysinit-services ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/etc/sv || exit 1 ; \
		while read j ; \
		do \
			cp -a -t debian/nosh-"$$i"/etc/sv/ debian/tmp/etc/sv/"$$j" || exit 1 ; \
		done < package/"$$i" ; \
	done
	for i in sysinit-mounts ; \
	do \
		install -d -m 0755 debian/nosh-sysinit-services/etc/sv || exit 1 ; \
		while read j ; \
		do \
			cp -a -t debian/nosh-sysinit-services/etc/sv/ debian/tmp/etc/sv/mount@"$$j" || exit 1 ; \
			cp -a -t debian/nosh-sysinit-services/etc/sv/ debian/tmp/etc/sv/fsck@"$$j" || exit 1 ; \
		done < package/"$$i" ; \
	done
	for i in regular-services regular-sockets ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/var/sv || exit 1 ; \
		while read j ; \
		do \
			cp -a -t debian/nosh-"$$i"/var/sv/ debian/tmp/var/sv/"$$j" || exit 1 ; \
			cp -a -t debian/nosh-"$$i"/var/sv/ debian/tmp/var/sv/cyclog@"$$j" || exit 1 ; \
		done < package/"$$i" ; \
	done
	for i in standard-targets ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/etc/system-manager/targets || exit 1 ; \
		while read j ; \
		do \
			cp -a -t debian/nosh-"$$i"/etc/system-manager/targets/ debian/tmp/etc/system-manager/targets/"$$j" || exit 1 ; \
		done < package/"$$i" ; \
	done
	for i in guide ; \
	do \
		install -d -m 0755 debian/nosh-"$$i"/usr/local/share/doc/nosh || exit 1 ; \
		cp -a debian/tmp/share/doc/nosh debian/nosh-"$$i"/usr/local/share/doc/ || exit 1 ; \
	done
	for i in standard-targets sysinit-services regular-services regular-sockets ; \
	do \
		for j in preinst postinst prerm postrm ; \
		do \
			if [ -e debian/nosh-"$$i"."$$j" ] ; \
			then \
				cp -a debian/nosh-"$$i"."$$j" debian/nosh-"$$i"/DEBIAN/"$$j" || exit 1 ; \
			fi ; \
		done ; \
	done

clean:
	${RM} debian/files debian/substvars
	for i in guide exec service-management systemd-services systemv-shims systemd-shims upstart-shims standard-targets sysinit-services regular-services regular-sockets ; \
	do \
		${RM} -r debian/nosh-"$$i"/ || exit 1 ; \
	done
	${RM} -r debian/tmp/
