## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=TrueOS appcafe

[Service]
# The configuration import system might need to place imported rc.conf variables here.
EnvironmentDirectory=env
User=nobody

[Install]
StoppedBy=shutdown.target
WantedBy=workstation.target
