## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Basic system group target
EarlySupervise=true
Wants=sysinit.target
Before=shutdown.target

[Service]
User=nobody

[Install]
StoppedBy=shutdown.target
WantedBy=normal.target
