## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Finish off an upgrade after the reboot into the system.
DefaultDependencies=false
Wants=static-networking.target
Wants=local-fs.target
After=local-fs.target
Before=reboot-after-update.target

[Service]
Type=oneshot
ExecStart=system-control disable "%p"
# This only has meaningful behaviour at bootstrap, not later.
RemainAfterExit=yes
Restart=never

[Install]
StoppedBy=shutdown.target
