## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Target for filesystem server services to complete before loop mount of remote filesystems exported from this machine
EarlySupervise=true
Before=shutdown.target

[Service]
User=nobody

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
