## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GUI target
EarlySupervise=true

[Service]
User=nobody

[Install]
