## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Local filesystems group target
EarlySupervise=true
Before=shutdown.target

[Service]
User=nobody

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
