## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=DNS milestone
DefaultDependencies=false

[Service]
User=nobody
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes

[Install]
