## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Rescue log-in target
EarlySupervise=true
Wants=sysinit.target
Before=shutdown.target

[Service]
PermissionsStartOnly=true
SessionLeader=true
TTYReset=true
TTYPath=console
TTYBannerLine=Rescue mode log-in.
StandardInput=tty
ExecStart=login
Restart=always

[Install]
StoppedBy=shutdown.target
