## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Shutdown action group target
EarlySupervise=true

[Service]
User=nobody

[Install]
