## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=PC-BSD/TrueOS Warden jails and jailed daemons collection

[Service]
User=nobody

[Install]
StoppedBy=shutdown.target
WantedBy=workstation.target
