#!/usr/bin/make -sf

# This is modelled on the Debian dpkg build ruleset.

.PHONY: build build-arch build-indep binary binary-arch binary-indep install install-arch install-indep install-common clean install-indep-doco install-indep-bundles install-indep-units

# Target this in order to make the package contents.
build:
	package/compile

# Target this in order to clean the build areas.
clean:
	for i in guide exec terminal-management service-management systemv-shims systemd-shims upstart-shims bundles run-via-systemd run-kernel-vt run-user-vt ; \
	do \
		rm -r -f bsd/nosh-"$$i"/ || exit 1 ; \
	done
	rm -r -f bsd/tmp/

# Target this in order to make the .deb files.
binary: install
	for i in exec terminal-management service-management systemv-shims systemd-shims upstart-shims guide bundles run-via-systemd run-kernel-vt run-user-vt ; \
	do \
		( \
			echo "name: nosh-$$i" ; \
			echo "prefix: /" ; \
			echo "origin: local/nosh" ; \
			echo "comment: ." ; \
			echo "maintainer: J.deBoynePollard" ; \
			echo "www: http:/homepage.ntlworld.com./j.deboynepollard/Softwares/nosh.html" ; \
			basename `/bin/pwd` | sed -e 's/^.*-\([[:digit:]][[:alnum:].]*\)$$/version: \1/' ; \
			if test -r bsd/nosh-"$$i".deps ; \
			then \
				echo "deps: " ; \
				while read j ; \
				do \
					pkg query "  %n: { version: %v, origin %o }" "$$j" || true ; \
				done < bsd/nosh-"$$i".deps ; \
			fi ; \
			cd bsd/nosh-"$$i" || exit 1 ; \
			echo "dirs: " ; \
			for i in *bin usr var etc ; \
			do \
				test -d "$$i" && find "$$i" -type d ; \
			done | \
			while read j ; \
			do \
				echo "- $$j" ; \
			done ; \
			echo "files: " ; \
			for i in *bin usr var etc ; \
			do \
				test -d "$$i" && find "$$i" -type f ; \
			done | \
			while read j ; \
			do \
				echo -n "  " ; \
				sha256 -r "$$j" | sed -e 's/^\(.*\) \(.*\)$$/\2: \1/' ; \
			done ; \
		) > bsd/nosh-"$$i"/+MANIFEST ; \
	done
	for i in exec terminal-management service-management systemv-shims systemd-shims upstart-shims guide bundles run-via-systemd run-kernel-vt run-user-vt ; \
	do \
		( \
			cd bsd/nosh-"$$i"/ || exit 1 ; \
			pkg -d create -m ./ -o ../../ || exit 1 ; \
		) \
	done

install:
	install -d -m 0755 bsd/tmp/
	package/export bsd/tmp/ bsd/tmp/ bsd/tmp/
	for i in exec terminal-management service-management systemv-shims systemd-shims upstart-shims guide bundles run-via-systemd run-kernel-vt run-user-vt ; \
	do \
		install -d -m 0755 bsd/nosh-"$$i" || exit 1 ; \
	done
	package/stage bsd/tmp bsd
	for i in exec terminal-management service-management systemv-shims systemd-shims upstart-shims guide bundles run-via-systemd run-kernel-vt run-user-vt ; \
	do \
		for j in +DESC +DISPLAY ; \
		do \
			if [ -e bsd/nosh-"$$i"."$$j" ] ; \
			then \
				cp -a bsd/nosh-"$$i"."$$j" bsd/nosh-"$$i"/"$$j" || exit 1 ; \
			fi ; \
		done ; \
	done
