#!/usr/bin/make -sf

# This is modelled on the Debian dpkg build ruleset.

.PHONY: build build-arch build-indep binary binary-arch binary-indep install install-arch install-indep install-common clean install-indep-doco install-indep-bundles install-indep-units

# Target this in order to make the package contents.
build:
	package/compile

# Target this in order to clean the build areas.
clean:
	for i in guide exec terminal-management service-management terminal-extras systemv-shims systemd-shims upstart-shims debian-shims guide bundles run-system-manager run-via-netbsd-rc run-kernel-vt run-user-vt run-virtualbox-guest run-freedesktop-system-bus run-freedesktop-kits run-openssh-server run-appletalk run-local-syslog run-klog run-trueos-base run-pcbsd-base ; \
	do \
		rm -r -f bsd/nosh-"$$i"/ || exit 1 ; \
	done
	rm -r -f bsd/tmp/

# Target this in order to make the package files.
binary: stage
	for i in exec terminal-management service-management terminal-extras systemv-shims systemd-shims upstart-shims debian-shims guide bundles run-system-manager run-via-netbsd-rc run-kernel-vt run-user-vt run-virtualbox-guest run-freedesktop-system-bus run-freedesktop-kits run-openssh-server run-appletalk run-local-syslog run-klog run-trueos-base run-pcbsd-base ; \
	do \
		echo 1>&2 "Building control file for nosh-$$i." ; \
		bsd/gencontrol nosh-"$$i" bsd/nosh-"$$i" || exit 1 ; \
		echo 1>&2 "Building package nosh-$$i." ; \
		pkg create -m bsd/nosh-"$$i"/ -r bsd/nosh-"$$i"/ -o ./ || exit 1 ; \
	done

stage:
	echo 1>&2 "Building exported image."
	install -d -m 0755 bsd/tmp/
	package/export bsd/tmp/ bsd/tmp/ bsd/tmp/
	for i in exec terminal-management service-management terminal-extras systemv-shims systemd-shims upstart-shims debian-shims guide bundles run-system-manager run-via-netbsd-rc run-kernel-vt run-user-vt run-virtualbox-guest run-freedesktop-system-bus run-freedesktop-kits run-openssh-server run-appletalk run-local-syslog run-klog run-trueos-base run-pcbsd-base ; \
	do \
		install -d -m 0755 bsd/nosh-"$$i" || exit 1 ; \
	done
	echo 1>&2 "Building staging areas."
	package/stage bsd/tmp bsd
