## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ACPI daemon

[Service]
systemdWorkingDirectory=false
ExecStart=%p -f -d

[Install]
WantedBy=workstation.target
