## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description="at" scheduling service

[Service]
systemdWorkingDirectory=false
ExecStart=atd -f
Restart=always

[Install]
WantedBy=workstation.target
