## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD audit daemon

[Service]
systemdWorkingDirectory=false
ExecStart=auditd -d
Restart=always

[Install]
WantedBy=workstation.target
