## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bonjour service
After=dbus.service

[Service]
systemdWorkingDirectory=false
ExecStart=avahi-daemon
Restart=always

[Install]
WantedBy=workstation.target
