## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bonjour service
[Install]
WantedBy=workstation.target
[Service]
systemdWorkingDirectory=false
ExecStart=avahi-daemon
Restart=always
