## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Background filesystem check sysinit service
DefaultDependencies=false
EarlySupervise=true

[Service]
Type=oneshot
ExecStartPre=sh -c "exec sleep ${background_fsck_delay}"
ExecStart=fsck -B -p

[Install]
WantedBy=sysinit.target
