## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Basic system group target
DefaultDependencies=false
EarlySupervise=true
Wants=sysinit.target
Before=shutdown.target

[Service]
ExecStart=pause
Restart=always

[Install]
StoppedBy=shutdown.target
WantedBy=multi-user.target server.target workstation.target
