## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Clean-up spool directories sysinit service
DefaultDependencies=false
EarlySupervise=true
Wants=local-fs.target
After=local-fs.target

[Service]
WorkingDirectory=/var/spool/
ExecStart=sh -c 'rm -r uucp/.Temp/* ; rm -r lock/*'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
