## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Device bus service
[Install]
WantedBy=workstation.target
[Service]
systemdWorkingDirectory=false
ExecStartPre=sh -c 'mkdir -p /run/dbus ; mkdir -p /var/db/dbus ; [ ! -r /var/db/dbus/machine-id ] && ln -s /etc/machine-id /var/db/dbus/'
ExecStart=dbus-daemon --system --nofork
Restart=always
