## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bernstein's proxy DNS server daemon

[Service]
systemdWorkingDirectory=false
EnvironmentDirectory=./env
EnvironmentUser=dnscache-d
LimitNOFILE=250
ExecStart=fdredir -r 0 seed %p
Restart=always

[Install]
WantedBy=workstation.target
