## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dovecot service

[Service]
systemdWorkingDirectory=false
ExecStart=%p -F
Restart=always

[Install]
WantedBy=server.target
