## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=fan control daemon

[Service]
Type=forking
systemdWorkingDirectory=false
ExecStart=fancontrol
Restart=always

[Install]
WantedBy=workstation.target
