## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

## It's a bit mad to have this when you have a full service manager.  But ...

[Unit]
Description=FreeBSD service control daemon

[Service]
systemdWorkingDirectory=false
ExecStart=fscd -v
Restart=always

[Install]
WantedBy=workstation.target
