## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Halt state target
DefaultDependencies=false
EarlySupervise=true
After=shutdown.target
Wants=shutdown.target

[Service]
systemdWorkingDirectory=false
ExecStart=system-control halt --force
Restart=always

[Install]
