## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Set up console
DefaultDependencies=false
EarlySupervise=true
## The point of this service is to set up the console really early, so that one can interact with fsck.
Before=local-fs.target
Before=fsck@-.service

[Service]
systemdWorkingDirectory=false
ExecStart=setupcon -k
Restart=never

[Install]
WantedBy=sysinit.target
