## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=kmod loader for autofs4

[Service]
Type=oneshot
systemdWorkingDirectory=false
ExecStart=[ -d /sys/class/misc/autofs4/ ] || kmod modprobe autofs4
Restart=always

[Install]
WantedBy=workstation.target
