## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Local filesystems group target
DefaultDependencies=false
EarlySupervise=true
Before=shutdown.target

[Service]
User=nobody
systemdWorkingDirectory=false
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
ExecStart=true

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
