## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Local filesystems group target
DefaultDependencies=false
EarlySupervise=true
Before=shutdown.target

[Service]
Type=oneshot
User=nobody
systemdWorkingDirectory=false
RemainAfterExit=yes

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
