## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Local filesystems group target
DefaultDependencies=false
EarlySupervise=true
Before=shutdown.target

[Service]
systemdWorkingDirectory=false
ExecStart=pause
Restart=always

[Install]
StoppedBy=shutdown.target
WantedBy=sysinit.target
