## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Create the "dynamic" part of the Message Of The Day
DefaultDependencies=false
EarlySupervise=true
Wants=local-fs.target
After=local-fs.target

[Service]
WorkingDirectory=/run/
Umask=0033
ExecStart=sh -c 'uname -srm > motd.dynamic'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
