## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Create the "dynamic" part of the Message Of The Day
DefaultDependencies=false
EarlySupervise=true
Wants=local-fs.target
After=local-fs.target

[Service]
systemdWorkingDirectory=off
Umask=0033
ExecStart=fdredir --write 1 /run/motd.dynamic uname -srm
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
