## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Mount the %I filesystem (or remount from a initial read-only mount)
DefaultDependencies=false
EarlySupervise=true
Before=local-fs.target

[Service]
Type=oneshot
systemdWorkingDirectory=false
ExecStart=%P %I
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
