## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Mount the /var filesystem
DefaultDependencies=false
EarlySupervise=true
Before=local-fs.target

[Service]
Type=oneshot
systemdWorkingDirectory=false
ExecStart=mount /var

[Install]
WantedBy=local-fs.target
