## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD mouse daemon
[Install]
WantedBy=workstation.target
[Service]
systemdWorkingDirectory=false
ExecStart=moused -f -p /dev/psm0 -t auto
Restart=always
