## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Multi-user group target
EarlySupervise=true

[Service]
Type=oneshot
User=nobody
systemdWorkingDirectory=false
RemainAfterExit=yes

[Install]
WantedBy=normal.target
