## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=newsyslog sysinit service
DefaultDependencies=false
EarlySupervise=true
Wants=local-fs.target
After=local-fs.target

[Service]
systemdWorkingDirectory=false
ExecStart=%p
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
