## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NFS user daemon

[Service]
systemdWorkingDirectory=false
ExecStart=%p
Restart=always

[Install]
WantedBy=server.target
