## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Normal group target
EarlySupervise=true
Wants=multi-user.target server.target workstation.target

[Service]
User=nobody
systemdWorkingDirectory=false
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
ExecStart=true

[Install]
