## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD PBI daemon
[Install]
WantedBy=workstation.target
[Service]
systemdWorkingDirectory=false
ExecStart=pbid
Restart=always
