## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bernstein's qmail SMTP Relay daemon

[Service]
systemdWorkingDirectory=false
EnvironmentDirectory=env
LimitMEMORY=70000000
User=qmaild
ExecStart=%P
Restart=always

[Install]
WantedBy=server.target
