## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bernstein's qmail queue processing and delivery daemon

[Service]
systemdWorkingDirectory=false
ExecStart=prependpath PATH "/var/lib/qmail/bin" qmail-start "./Maildir/"
Restart=always

[Install]
WantedBy=server.target
