## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%P service
After=local-fs.target

[Service]
systemdWorkingDirectory=false
# The import procedure is expected to have populated this directory with quotaon_flags, quotaoff_flags, and quotacheck_flags.
EnvironmentDirectory=env
ExecStartPre=sh -c 'exec quotacheck "${quotacheck_flags}"'
ExecStart=sh -c 'exec quotaon "${quotaon_flags}"'
ExecStopPost=sh -c 'exec quotaoff "${quotaoff_flags}"'
RemainAfterExit=yes

[Install]
WantedBy=workstation.target
