## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=IPv6 router solicitation daemon

[Service]
systemdWorkingDirectory=false
ExecStart=rtsold -f
Restart=always

[Install]
WantedBy=workstation.target
