## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Scanner service
[Install]
WantedBy=server.target
[Service]
Group=scanner
systemdWorkingDirectory=false
ExecStart=saned
StandardInput=socket
Restart=always
