## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Server group target
EarlySupervise=true

[Service]
Type=oneshot
User=nobody
systemdWorkingDirectory=false
RemainAfterExit=yes

[Install]
