## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Service manager
After=local-fs.target

[Service]
systemdWorkingDirectory=false
ExecStart=/bin/service-manager
TimeoutSec=10
