## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Server group target
EarlySupervise=true

[Service]
User=nobody
systemdWorkingDirectory=false
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
ExecStart=true

[Install]
