## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Server group target
EarlySupervise=true

[Service]
User=nobody
systemdWorkingDirectory=false
ExecStart=pause
Restart=always

[Install]
