## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=SSH service

[Service]
Type=oneshot
systemdWorkingDirectory=false
ExecStart=sshdgenkeys
RemainAfterExit=yes

[Install]
WantedBy=server.target
