## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Sysinit group target
DefaultDependencies=false
EarlySupervise=true
Before=shutdown.target

[Service]
systemdWorkingDirectory=false
systemdUserEnvironment=no
User=nobody
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
ExecStart=true

[Install]
StoppedBy=shutdown.target
