## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Old-style system log daemon
[Install]
WantedBy=workstation.target
[Service]
systemdWorkingDirectory=false
ExecStart=syslogd -c -ss
Restart=always
