## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=systemd journal via ryslog

[Service]
systemdWorkingDirectory=false
ExecStart=rsyslogd -n -c5 -d

[Install]
WantedBy=workstation.target
