## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=time daemon

[Service]
systemdWorkingDirectory=false
ExecStart=timed
Restart=always

[Install]
WantedBy=workstation.target
