#
## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=additional executable binary formats
Conflicts=binfmt-support.service

[Service]
systemdWorkingDirectory=false
ExecStart=%P --enable
ExecStopPost=%P --disable
RemainAfterExit=true

[Install]
WantedBy=workstation.target
