## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=DNS/TCP and DNS/UDP sockets on %i

[Socket]
Backlog=2
BindIPv6Only=both
ListenDatagram=%i:domain
ListenStream=%i:domain
Accept=false
#MaxConnections=16
NoDelay=false
ReceiveBuffer=65536

[Install]
WantedBy=workstation.target
