
## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Dunst notification daemon

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=%p
Restart=no

[Install]
