## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GNOME Shell for %U
After=gnome-keyring.service gnome-settings-daemon.service
Wants=gnome-keyring.service

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=%p

[Install]
