## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenVPN server service using "%i" configuration
After=network-interfaces.service entropy.service

[Service]
PrivateTmp=true
ExecStart=openvpn --errors-to-stderr --suppress-timestamps --verb 3 --config ./config
LimitNPROC=10
PrivateTmp=true
#ProtectHome=true
#ProtectSystem=true
RestartSec=30

[Install]
WantedBy=server.target
