## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenVPN OTP service for "%i" configuration
Before=openvpn-client@%i

[Service]
User=%p
WorkingDirectory=root
UMask=0077
ExecStart=%p 
ExecStopPost=install -m 0600 /dev/null secret.up
RestartSec=20

[Install]
WantedBy=openvpn-client@%i
