## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Standard format OpenVPN logging service for "%i" configuration
Before=openvpn-server@%i openvpn-client@%i openvpn-otp@%i

[Service]
WorkingDirectory=/var/log/openvpn/sv/
User=%p
ExecStart=cyclog %i/

[Install]
# Whatever the service being logged installs to, THIS service is a workstation service.
# Logging to workstation log facilities is a workstation thing.
WantedBy=workstation.target
