## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GNOME Maps for %U

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=/usr/local/share/gnome-maps/%p --gapplication-service
Restart=on-abort

[Install]
