## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD %p for %i
Wants=%p-log.service
After=%p-log.service

[Service]
EnvironmentDirectory=env
ExecStartPre=%p "-${mode}" ${nat:+-nat} ${unit:+-unit"${unit}"} ${flags} "%I"
# \bug FIXME: Fix this.
ExecStopPost=/etc/rc.d/ipfilter quietresync
ExecStopPost=service pf condrestart
RemainAfterExit=true

[Install]
WantedBy=static-networking.target
