## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p for %i
Wants=%p-log.service
After=%p-log.service
PartOf=netif@%i

[Service]
EnvironmentDirectory=env
ExecStart=%p -c "/etc/%p/%i.conf" -i "%I" -I ${flags}

[Install]
WantedBy=netif@%i
