## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Sockets target
Before=shutdown

[Install]
StoppedBy=shutdown
