## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Per-user target for user %I

[Service]
User=%I

[Install]
WantedBy=users.target
