## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Per-user %I service manager
After=user-runtime@%I
Requires=user-runtime@%I

[Service]
systemdUserEnvironment=true
systemdUserGroups=true
PermissionsStartOnly=yes
SessionLeader=yes
User=%I
Delegate=yes
ExecStart=per-user-manager
Restart=always

[Install]
WantedBy=user@%I.target
