## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Per-user "Desktop" bus log service
Description=Avoid using this; and use a user-level service instead.
#Requires=user@%I.target

[Service]
User=%I
WorkingDirectory=/var/log/user/
ExecStartPre=install -d -m 0750 -o "%I" "/var/log/user/%I"
ExecStart=cyclog %I/dbus/
Restart=always

[Install]
WantedBy=user@%I.target
