## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Zeitgeist activity monitor for %U

[Service]
Type=dbus
EnvironmentDirectory=env
ExecStart=%p

[Install]
